<div>
    <h2>About </h2>

    <img src="assets/img1.jpg" alt="Welcome Image">
  
    <p><b>
      Welcome to our Healthcare Recommendation System! This platform aims to provide personalized
      healthcare recommendations based on various factors, including user history and medical data.
      Our team is dedicated to improving healthcare outcomes and making informed decisions.</b>
    </p>

    <p>
        <b>At Healthcare Recommendation, we believe in the power of technology to improve healthcare 
        outcomes and empower individuals to make informed decisions about their health. Our goal is 
        to create a seamless and user-friendly experience that ensures users receive recommendations
        that are not only accurate but also align with their unique needs and preferences.</b>
    </p>
  
    <!-- <p>
      For any inquiries or feedback, please contact us at <a href="mailto:info@example.com">info@example.com</a>.
    </p> -->
  </div>